.RecipeLayout{
    padding: 30px 35px;
    margin:20px 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    border-radius: 10px;
    border-bottom:1px solid #424242;
    background:linear-gradient(to right, rgba(182, 244, 146, 0.85), rgba(51, 139, 147, 0.85));
    height:77vh;
    overflow: auto;
}
.ingredients-list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    max-height:100px;
    overflow-y: auto;
}
.ingredients{
    text-wrap: nowrap;
    white-space: nowrap;
    font-family: 'Comic Neue', cursive; /* Use the funky font */
    font-size:16px;
    font-weight: bold;
    padding:3px 10px;
    margin: 5px 5px;
    background:radial-gradient(848px at 10% 20%, rgba(174, 231, 165, 0.455) 0%, rgba(181, 205, 154, 0.582) 90%);
    border-radius:15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.recipe-image-div{
    width:100%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recipe-image{
    height:200px;
    width:30%;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
}
.recipeList{
    font-family: 'Comic Neue', cursive; /* Use the funky font */
    font-size:16px;
    font-weight: bold;
    li{
        margin:5px 0;
        padding:5px 0;
    }
}
.recipe-image-details{
    padding:15px;
}
.allergies{
    text-wrap: nowrap;
    white-space: nowrap;
    font-family: 'Comic Neue', cursive; /* Use the funky font */
    font-size:16px;
    font-weight: bold;
    padding:3px 10px;
    margin: 5px 5px;
    background: linear-gradient(to right, #e54e247a , #ddb3495d);
    border-radius:15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-arrow-left{
    font-size: 20px;
    padding:5px;
    border-radius: 50%;
}
.fa-arrow-left:hover{
    background-color: rgba(255, 255, 255, 0.235);
    cursor: pointer;
}
.recipe-item{
    margin-top:-30px;
}