.favoritesLayout{
    padding: 20px;
    overflow-y: auto;
    max-height: 88vh;
    width:100%;
}

.favoriteDishCard{
    padding:20px;
    margin:10px 20px;
    width:80%;
    height:90%;
    background: linear-gradient(to right, rgba(182, 244, 146, 0.85), rgba(51, 139, 147, 0.85));
    border-radius: 10px;
    .card-image{
        margin:0 30px;
    }
    text-align: center;
}
.favoriteDishCard:hover{
    transform: scale(1.050);
    transition: all 0.2s ease-out;
    cursor:pointer;
    border:1.5px solid #F84F43;
}