.homeLayout{
    padding: 10px;
    margin:20px 30px;
    
    border-radius: 10px;
    height:70vh;
    overflow: auto;
}
.homeContent{
    padding:20px;
   color:white
}
.homeHeader{
    display: flex;
    justify-content: center;
}
.homeLogo{
    height:90px;
    width:180px;
    border-radius: 10px;
}