.aboutLayout{
    padding: 20px;
    margin:20px 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    border-radius: 10px;
    border-bottom:1px solid #424242;
    background:linear-gradient(to right, rgba(182, 244, 146, 0.85), rgba(51, 139, 147, 0.85));
    height:77vh;
    overflow: auto;
}
.aboutContent{
    padding:20px;
}
