.DishesLayout {
    overflow-y: auto;
    max-height: 87vh;
    width: 100%;
}

.card-background {
    padding: 10px 20px;
    margin: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, rgba(182, 244, 146, 0.85), rgba(51, 139, 147, 0.85));
    border-radius: 10px;
    height: 200px;
}

.card-background:hover {
    transform: scale(1.050);
    transition: all 0.2s ease-out;
    cursor: pointer;
    outline: 1.5px solid #F84F43;
}

.card-content {
    display: flex;
    align-items: center;
    height: 180px;
}
.dietary-preference{
    border:1px solid black;
    padding:5px 10px;
}

.dish-ing{ 
    margin: 3px;
    background: linear-gradient(to right, #e54e247a , #ddb3495d);
    border-radius:10px;
    font-size: 14px;
    padding:2px 6px 4px 6px;
    text-wrap: nowrap;
    text-align: center;
}

.dishes-top-section{
    background: linear-gradient(to right, rgba(182, 244, 146, 0.85), rgba(51, 139, 147, 0.85));
    padding:10px;
    margin:5px 40px 0px 40px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
    .fa-arrow-left{
        font-size: 12px;
    }
}

.dishes-ing{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.fa-heart {
    font-size: 36px;
    color: #F84F43;
    cursor: pointer;
}

.card-image {
    margin: 10px 20px;
    object-fit: fill;
    width: 90%;
    height: 160px;
    border-radius: 10px;
    display: block;
    overflow: hidden;
    filter: brightness(80%);
    border: 1px solid rgba(0, 0, 0, 0.618);
}
.pepper-hot{
    color:#800000
}
/* Media query for mobile devices */
@media (max-width: 750px) {
    .card-background {
        padding: 10px; /* Reduce padding for mobile */
        margin: 10px auto; /* Center card and reduce margin */
        width: 90%; /* Increase width for better visibility */
    }

    .card-image {
        margin: 0; /* Remove side margins on images */
        width: 0%; /* Make image responsive */
        height: 00px; /* Decrease height for mobile */
    }
    .DishesLayout{
        font-size: 14px;
    }
}

