.AppLayout::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../public/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter:brightness(40%);
  z-index: -1; /* Ensure it is behind the content */
}
