body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loader-container {
  position: fixed; /* Fixes the container to the viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center; 
  justify-content: center;
  background: rgba(255, 255, 255, 0.134); /* Optional: semi-transparent background */
  z-index: 9999; 
}

/* Loader styling */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(0deg, rgba(182, 244, 146, 0.5) 30%, transparent 0 70%, rgba(51, 139, 147, 1) 0) 50%/8% 100%,
    linear-gradient(90deg, rgba(182, 244, 146, 0.25) 30%, transparent 0 70%, rgba(51, 139, 147, 0.75) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  transform: rotate(30deg);
}

.loader::after {
  transform: rotate(60deg);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 6px;
  height:0px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, rgba(182, 244, 146, 0.39), rgba(51, 139, 147, 0.307));
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgba(182, 244, 146), rgba(51, 139, 147));
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9b9b9b;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}